In [65]:
import pandas as pd
import random 
import numpy as np

In [66]:
df2 = pd.read_csv('hleo.csv', index_col = 0)
df2

        Ho va ten
STT
1    Nguyen Van A
2        Le Van B
3       Ngo Thi C
4       Lam Van D
5    Nguyen Van A
6        Le Van B
7       Ngo Thi C
8       Lam Van D
9    Nguyen Van A
10       Le Van B
11   Nguyen Van A
12       Le Van B
13      Ngo Thi C
14      Lam Van D
15   Nguyen Van A
16       Le Van B
17      Ngo Thi C
18      Lam Van D
19   Nguyen Van A
20       Le Van B
21   Nguyen Van A
22       Le Van B
23      Ngo Thi C
24      Lam Van D
25   Nguyen Van A
26       Le Van B
27      Ngo Thi C
28      Lam Van D
29   Nguyen Van A
30       Le Van B
31   Nguyen Van A
32       Le Van B
33      Ngo Thi C
34      Lam Van D

Le Van B
Lam Van D
Nguyen Van A
Ngo Thi C

KeyError: 0

In [67]:
a = np.random.choice(df['STT'],8)
df = df[[df['STT'][i-1] in a for i in df['STT']]]

In [68]:
df

    STT     Ho va ten
1     2      Le Van B
3     4     Lam Van D
4     5  Nguyen Van A
13   14     Lam Van D
17   18     Lam Van D
20   21  Nguyen Van A
24   25  Nguyen Van A
27   28     Lam Van D

In [69]:
df.to_csv('new.csv')